<div class="collapse navbar-collapse"
                    id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto navbar-ml">
            <a class="nav-link"
              href="{% url 'home.about' %}">About</a>
            <a class="nav-link" href=
              "{% url 'movies.index' %}">Movies</a>
            <div class="vr bg-white mx-2 d-none
              d-lg-block"></div>
            <a class="nav-link"
              href="{% url 'accounts.signup' %}">
              Sign Up
            </a>
          </div>
        </div>